<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="email" value="xyz_Release@yahoo.com" xdt:Locator="Match(key)" xdt:Transform="RemoveAll" />
    <add key="eMail_From" value="xyz_Release@hotmail.com" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <add key="eMail_CC" value="xyz_Release@yahoo.com" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <add key="eMail_BCC" value="xyz_Release@gmail.com" xdt:Transform="Insert"/>
  </appSettings>

  <connectionStrings>
    <add name="FileProcessor" connectionString="Server=localhost;Database=c227_FileProcessorRELEASE;Integrated Security=true;Connect Timeout=60" providerName="System.Data.SqlClient" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(connectionString)" />
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
