<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="email" value="xyz_Debug@yahoo.com"
       xdt:Locator="Match(key)" xdt:Transform="RemoveAll" />
    <add key="eMail_From" value="xyz_Debug@hotmail.com" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <add key="eMail_CC" value="xyz_Debug@yahoo.com" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
    <add key="eMail_BCC" value="xyz_Debug@gmail.com" xdt:Transform="Insert"/>
  </appSettings>
  
  <connectionStrings>
    <add name="FileProcessor" connectionString="Server=localhost;Database=c227_FileProcessorDEBUG;Integrated Security=true;Connect Timeout=60" providerName="System.Data.SqlClient" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(connectionString)" />
  </connectionStrings>
  <system.web>
  </system.web>
</configuration>
